{% assign gallery_set = site.data.gallery[include.gallery] %}
{% if include.nohint == nil %}
<p class="gallery_instructions js-only">Select a thumbnail for a full-size version.</p>
{% endif %}
<div class="gallery" data-type="gallery" data-id="gallery-{{include.name}}" data-title="{{include.title}}" data-carousel-id="carousel-{{include.name}}">
{% for entry in gallery_set %}
    <figure class="gallery_entry" data-type="gallery-entry" data-effect="open-carousel" data-id="{{forloop.index0}}" data-alt-text="{{entry[1].alt}}" data-title="{{entry[1].label}}" data-image-src="{{entry[1].max}}" data-thumbnail-src="{{entry[1].thumb}}">
        <img src="{{entry[1].thumb}}" alt="{{entry[1].alt}}">
        {% if entry[1].label %}
            <figcaption>{{entry[1].label}}</figcaption>
        {% endif %}
    </figure>
{% endfor %}
</div>

<dialog data-type="carousel" data-id="carousel-{{include.name}}" data-source-gallery="gallery-{{include.name}}">
    <button aria-label="close" class="button-close-dialog" data-effect="close-dialog" autofocus>&times;</button>
    <button aria-label="previous" class="button-carousel-previous" data-effect="carousel-previous">&lsaquo;</button>
    <button aria-label="next" class="button-carousel-next" data-effect="carousel-next">&rsaquo;</button>
    <div class="dialog-container">
    </div>
</dialog>
