<script>
    function toggleSidebar(params) {
        const sidebar = document.querySelector('.page-sidebar');
        sidebar.classList.toggle('active');        
    }
</script>

{% comment %} {% assign my_category = site.data.category[page.category] %} {% endcomment %}
<aside class="page-sidebar">
    <button class="sidebar-toggler" onclick="toggleSidebar()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <nav class="sidebar-content" data-type="scrollspy" data-scrollspy-target="main" data-scrollspy-link-selector=".toc-entry a">
        <ul>
            <li>
                <a href="{{ '/' | relative_url }}">Home Page</a>
            </li>
        </ul>
        <hr/>
        {{ content | toc_only }}
        <hr/>

        <ul>
            <li>
                <a href="{{ '/commissions' }}">Art Commissions</a>
            </li>
            <li>
                <a href="{{site.repository}}">Git Repository</a>
            </li>
            <li>
                <a href="/contact">Contact Form</a>
            </li>
        </ul>
    </nav>
</aside>
