<form action="" class="theme-switcher">
    <fieldset class="theme-switcher__content">
        <legend>Select a Theme</legend>

        <label>
            <input type="radio" name="theme" value="default" checked>
            <span>Browser Default</span>
        </label>

        <label>
            <input type="radio" name="theme" value="eversky">
            <span>Eversky (Light)</span>
        </label>

        <label>
            <input type="radio" name="theme" value="miller">
            <span>Miller (Dark)</span>
        </label>
    </fieldset>

    <label class="theme-switcher__toggle">
        <span>☼ Themes ☼</span>
        <input type="checkbox" name="show-themes">
    </label>

</form>