a.call-to-action, .call-to-action {
    display: block;
    width: 15rem;
    background: var(--action-color);
    color: var(--main-bg);
    text-align: center;
    padding: 0.75rem;
    margin: auto;
    border-radius: 2rem;

    --bs-btn-hover-border-color: var(--main-bg): 
}

.btn-container:has(.kofi-button) {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
