a.call-to-action, .call-to-action {
    display: block;
    width: 15rem;
    background: var(--action-color);
    color: var(--main-bg);
    border: 1px solid transparent;
    text-align: center;
    padding: 0.75rem;
    margin: auto;
    border-radius: 2rem;

    --button-hover-color: var(--text-color);

    transition: 0.25s;

    &:hover:not(:disabled) {
        color: var(--button-hover-color);
        border-color: var(--button-hover-color);
        background: transparent;
    }
}

.btn-container:has(.kofi-button) {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
