dialog {
    background-color: var(--modal-bg);
    color: var(--text-color);
    width: 35rem;
    height: 40rem;
    border: 0.25rem solid var(--modal-border-color);
    border-radius: 1rem;
    overflow: visible;
    padding: 0;
}
.dialog-container {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

dialog h1 {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--modal-border-color);
}

dialog h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

dialog figure {
    flex-grow: 1;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}
dialog figcaption {
    margin: 0.75rem 1.5rem;
}

dialog img {
    min-height: 0;
    margin: auto;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}
