// Contents of form stylesheet will be updated as elements are used 
form {
    display: grid;
    gap: 1rem;
}

legend {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

label {
    width: 100%;
}
input[type="text"],
input[type="email"], 
textarea {
    width: 100%;
    background: white;
    color: black;
    padding: 0.375rem 0.5rem;
    border-radius: 0.25rem;
}

button {
    padding: 0.5rem;
    border: 1px solid white;
}

button:disabled {
    --color-button-disabled: rgb(23, 20, 34);
    background-color: var(--color-button-disabled);
    color: var(--color-button-disabled);
}

.cf-turnstile {
    display: flex;
    justify-content: center;;
}
