// See _layout.scss for rules for the sidebar in relations to page layout.
@use "sass:map";
@use "variables" as vars;

.page-sidebar {
  --text-color: var(--sidebar-link-color);
  background-color: var(--sidebar-bg);
}

.sidebar-toggler {
  position: absolute;
  right: -1.25rem;
  top: vars.$site-padding;
  width: 2.5rem;
  height: 2.5rem;
  border: 2pt solid var(--main-bg);
  background-color: var(--sidebar-bg);
  border-radius: 50%;
}

@media(min-width: map.get(vars.$breakpoints, "md")) {
  .sidebar-toggler {
    display: none;
  }
}

.sidebar-content > ul {
  --ul-bullet-1: none;
  --ul-bullet-2: none;
  --ul-bullet-3: none;
  --ul-bullet-4: none;
  --ul-bullet-5: none;
  --ul-bullet-6: none;
  padding-inline-start: 0;
  
  & > li > a {
    font-weight: bold;
  }

  & ul {
    list-style: none;
    padding-inline-start: 1rem;
  }
}
.page-sidebar {
  a {
    color: var(--sidebar-link-color);
    text-decoration: none;
  }
  a.active {
    color: var(--sidebar-link-color-active);
  }
}
