.theme-switcher {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .theme-switcher__content {
        display: none;
    }
    &:has(input[name="show-themes"]:checked) .theme-switcher__content {
        display: block;
    }

    legend {
        text-align: center;
    }

    &:has(input[name="show-themes"]:checked) {
        
        border: 0.5rem solid var(--main-bg);
        border-radius: 0 0 2rem 2rem;
        border-top: none;
        padding: 1rem 2rem 0.5rem 2rem;
        background: var(--sidebar-bg);
    }

    .theme-switcher__toggle {
        // border: 1px solid black;
        margin: auto;
        width: 10rem;
        padding: 0.5rem;
        background: var(--sidebar-bg);
        // opacity: 0.5;
        text-align: center;

        border-radius: 0 0 0.5rem 0.5rem;

        input[type="checkbox"] {
            appearance: none;
        }
    }

    label {
        display: block;
    }
    span {
        display: inline-block;
        width: 8rem;
    }

    input[type="radio"] {
        appearance: none;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.125rem 0.5rem;
        outline: 1px solid var(--link-color);
        outline-offset: 0.25rem;

        &:checked {
            background-color: var(--link-color);
        }
    }
}